# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# Vim
*.swp
*.swo
*~

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Build-Verzeichnisse
target/
build/

# Environment variables
.env
**/.env
!.env.example
!**/.env.example
/traefik/logs/access.log
/traefik/logs/traefik.log
/paperless/gpt/
/paperless/ollama/

# Generic runtime data directories
**/data/**
!**/data/
!**/data/**/
!**/data/**/.gitkeep
/vm/terraform.tfstate
/vm/terraform.tfstate.backup
/vm/.terraform.lock.hcl
/vm/volume_schema.json
/vm/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.9.8/linux_amd64/README.md
/vm/.terraform/providers/registry.terraform.io/dmacvicar/libvirt/0.9.8/linux_amd64/terraform-provider-libvirt_v0.9.8
