#
# Cloud-Init-Netzwerkkonfiguration (Version 2) - von Terraform gerendert.
#
# Alle vier Interfaces werden über ihre MAC-Adresse zugeordnet, nicht über den
# Namen: die Zuordnung eth0..eth3 hängt sonst an der PCI-Reihenfolge. Denselben
# MAC-Map benutzt fw-render-interfaces auf der VM, um die nft-Defines zu
# erzeugen - beide Seiten können also nicht auseinanderlaufen.
#
# Default-Route existiert nur über WAN. DMZ, Cluster und Management sind
# adressierte, aber routing-technisch stumme Beine; deren Gäste tragen die
# Firewall als Gateway ein.
#
version: 2
ethernets:
  wan:
    match:
      macaddress: "${mac_wan}"
    dhcp4: false
    dhcp6: false
    accept-ra: false
    addresses:
      - ${wan_ip}/${wan_prefix}
    routes:
      - to: default
        via: ${wan_gateway}
    nameservers:
      addresses: [${join(", ", dns_servers)}]

  mgmt:
    match:
      macaddress: "${mac_mgmt}"
    dhcp4: false
    dhcp6: false
    accept-ra: false
    addresses:
      - ${mgmt_ip}/${mgmt_prefix}

  dmz:
    match:
      macaddress: "${mac_dmz}"
    dhcp4: false
    dhcp6: false
    accept-ra: false
    addresses:
      - ${dmz_gateway_ip}/${dmz_prefix}

  cluster:
    match:
      macaddress: "${mac_cluster}"
    dhcp4: false
    dhcp6: false
    accept-ra: false
    addresses:
      - ${cluster_gateway_ip}/${cluster_prefix}
