#
# sshd der Firewall-VM - von Terraform gerendert aus
# vm/firewall/templates/sshd_config.tftpl.
#
# ListenAddress ist die eigentliche Maßnahme: SSH ist nur über das
# Management-Netz erreichbar, nie über WAN oder DMZ
# (k8s/Edge-Architektur.md, Abschnitt 5). Die nftables-input-Chain setzt
# dasselbe noch einmal unabhängig durch.
#
# Hinweis: Diese Datei ersetzt die Paket-Version. Nach einem `apk upgrade` kann
# eine /etc/ssh/sshd_config.apk-new danebenliegen - die enthält dann neue
# Defaults, die hier bewusst nicht automatisch übernommen werden.
#

ListenAddress ${mgmt_ip}
AddressFamily inet
Port 22

PermitRootLogin no
AllowUsers ${admin_user}

PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
AuthenticationMethods publickey
MaxAuthTries 3
MaxSessions 4
LoginGraceTime 30

AllowTcpForwarding no
AllowAgentForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitUserEnvironment no

ClientAliveInterval 300
ClientAliveCountMax 2

LogLevel VERBOSE
PrintMotd no

Subsystem sftp internal-sftp
