#cloud-config

# Zwingt das System, das Passwort zu setzen und den Ablauf zu deaktivieren
chpasswd:
  list: |
    ubuntu:1234
  expire: false

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

# Automatische Installation der Desktop-Umgebung
packages:
  - ubuntu-desktop
  - gdm3

package_update: true
package_upgrade: true

# Neustart nach der Installation
runcmd:
  - systemctl set-default graphical.target
  - reboot